@tailwind base;
@tailwind components;
@tailwind utilities;

/* general */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Robot", sans-serif;
}

/* Wordpress default styles */
.wp-block-navigation__container{
  gap:20px;
}
ul.wp-block-navigation__container  > li.wp-block-navigation-item{
  color:#2e384d;
  font-size: 18px;
}
.wp-block-navigation-item:hover{
  text-decoration: underline 2px;
  text-underline-offset: 4px;
  text-decoration-line: 2px;
  text-decoration-color: #E80D38;
  cursor: pointer;
}

/* banner-main */
.banner-video{
  height: 80vh;
}
.banner-video video{
  height: 100%;
  object-fit: cover;
}


