@tailwind base;
@tailwind components;
@tailwind utilities;

/* general */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Robot", sans-serif;
}

/* Wordpress default styles */
ul.wp-block-navigation__container  > li.wp-block-navigation-item{
  color:red;
}
