@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .applyContainer1 {
    @apply [&>div>div>:first-child]:container [&>div>div>:first-child]:mx-auto;
  }
  .applyContainer2 {
    @apply [&>div>div>:nth-child(2)]:container [&>div>div>:nth-child(2)]:mx-auto;
  }
  .apply-btn-more-hover {
    @apply before:content-[``] before:inline-block before:absolute before:bottom-0 before:left-0 before:w-full before:min-h-[0%] hover:before:min-h-[100%] before:bg-[#e1e1e1] before:transition-height before:duration-300 before:ease cursor-pointer;
  }
}

/* general */
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #2E384D;
  font-size: 18px;
}
h2 {
  font-size: 40px;
  line-height: 54px;
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 36px;
  line-height: 48px;
  padding: 10.5px 0 1.5px;
}
h4 {
  font-size: 30px;
  line-height: 44px;
  padding: 10.75px 0 1.25px;
}
.single a{
  color:#8a8f99;
  text-decoration: underline;
}
.single.single-mieszkania a{
  text-decoration: none!important;
}
/* images */
figure[class*="wp-block-image"] img,
.wp-block-post-featured-image img {
  height: 100%!important;
  width: 100%!important;
  object-fit: cover!important;
  margin: 0!important;
}
@media only screen and (max-width: 480px) {
  figure[class*="wp-block-image cta-img"] img {
    object-position: 40%;
  }
}
.wp-block-post-featured-image{
  height: 100%;
}
.footer-logo img{
  height: 20px;
  margin: 0;
}
.single-mieszkania .wp-block-post-featured-image{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.single-mieszkania .wp-block-post-featured-image img{
  height: 100%;
}
.wp-block-post-featured-image img {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.single-mieszkania .wp-block-post-featured-image img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


/* Wordpress default styles */
.wp-block-navigation__container{
  gap: 40px;
}
ul.wp-block-navigation__container  > li.wp-block-navigation-item{
  color:white;
  font-size: 18px;
}
.wp-block-navigation-item:hover{
  text-decoration: underline 2px;
  text-underline-offset: 4px;
  text-decoration-line: 2px;
  text-decoration-color: #E80D38;
  cursor: pointer;
}
.single.single-mieszkania a{
  color: inherit!important;
}

/* nav menu */
.wp-block-navigation__container > li:nth-child(1):hover + .modal{
background-color: #E80D38;
}
.wp-block-navigation__container > li:nth-child(1):after {
  position: absolute;
  content: '\25BC';
  font-size: 7px;
  color: white;
  top: 0;
  bottom: 0;
  right: -12px;
  margin: auto;
  height: 7px;
  width: 7px;
}
.tab-active{
  border-bottom: #E80D38 2px solid;
}
.sub-title a{
  color: white;
  text-decoration: underline;
}

/* mobile navbar action */
.hamburger-btn-line:nth-child(1) {
  transform-origin: left;
  transform: rotate(0);
}
.hamburger-btn-line:nth-child(2) {
  transition: all 0.3s ease-out;
  width: 30px;
}
.hamburger-btn-line:nth-child(3) {
  transform-origin: left;
  transform: rotate(0);
}
.menu-active .hamburger-btn-line:nth-child(1) {
  transform-origin: left;
  transform: rotate(43deg);
}
.menu-active .hamburger-btn-line:nth-child(2) {
  transition: all 0.3s ease-out;
  width: 0px;
}
.menu-active .hamburger-btn-line:nth-child(3) {
  transform-origin: left;
  transform: rotate(-43deg);
}

/* banner-main */
.banner-video video{
  height: 100%;
  object-fit: cover;
}

/* drop down select */
.select-wrapper {
  position: relative;
  user-select: none;
  width: 250px;
}
@media only screen and (max-width: 480px) {
  .select-wrapper {
    width: 100%;
  }
}
.select {
  position: relative;
  display: flex;
  flex-direction: column;
  /* border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: #394a6d; */
}
.select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  font-size: 18px;
  font-weight: 300;
  color: #3b3b3b;
  height: 65px;
  line-height: 60px;
  background: #ffffff;
  cursor: pointer;
  /* border-width: 2px 0 2px 0;
  border-style: solid;
  border-color: #394a6d; */
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  /* border: 2px solid #394a6d;
  border-top: 0; */
  background: #fff;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}
.select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 22px 0 22px;
  font-size: 18px;
  font-weight: 300;
  color: #3b3b3b;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.5s;
}
.custom-option:hover {
  cursor: pointer;
  background-color: #B2F1FF;
}
.custom-option.selected {
  color: #ffffff;
  background-color: #305c91;
}
.arrow {
  position: relative;
  height: 15px;
  width: 15px;
}
.arrow::before, .arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}
.arrow::before {
  left: -5px;
  transform: rotate(45deg);
  background-color: #394a6d;
}
.arrow::after {
  left: 5px;
  transform: rotate(-45deg);
  background-color: #394a6d;
}
.open .arrow::before {
  left: -5px;
  transform: rotate(-45deg);
}
.open .arrow::after {
  left: 5px;
  transform: rotate(45deg);
}
/* dropdown btn more */
.circle,
.line {
  stroke: #e80d38;
  stroke-miterlimit: 10;
  stroke-width: 2px
}
.line {
  stroke-linecap: round;
  fill: none
}
.circle {
  fill: #fff
}
.btn-wrapper{
  height: 120px;
  width: 164px;
  background-color: white;
  display: flex;
  justify-content: center;
}
.btn-more:before{
  display: inline-block;
  content: "";
  position: absolute;
  bottom: 0;;
  left: 0;
  width: 100%;
  min-height: 0%;
  background-color: #e1e1e1;
  transition: min-height 0.3s ease; 
}
.btn-more:hover:before{
  min-height: 100%;
}

/* page contact dropdown */
.inactive {
  max-height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  z-index: -1;
  position: relative;
}
.active {
  max-height: 320px;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 0;
  position: relative;
}

/* contact form */
input,
textarea{
  padding-left: 15px;
}
textarea{
  height: 200px;
}
input:focus,
textarea:focus{
  outline: none;
}
label{
  line-height: 18px;
}
.check1 p{
  display: flex;
}
@media only screen and (max-width: 480px) {
  .left-col-map div{
    height: 450px!important;
  }
}

/* taxonomy filter (beautiful-taxonomy-filter) */

.wp-block-post.mieszkania.type-mieszkania{
  border-bottom: 1px solid #e6eaf0;
}
.beautiful-taxonomy-filters {
  background: #ebeef2;
  box-shadow: none!important;
  -webkit-box-shadow: none!important;
  padding: 0;
  margin: 0;
  width: 100%;
}
.beautiful-taxonomy-filters-button:hover {
  background: #E80D38!important;
}
.beautiful-taxonomy-filters-label{
  display: none!important;
}
.beautiful-taxonomy-filters-button{
  background-color: #E80D38;
  color: white;
  width: 230px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  z-index: 1;
  font-weight: 700;
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0;
}
@media only screen and (max-width: 480px) {
  .beautiful-taxonomy-filters-button{
    margin-left: 20px;
    position: relative;
  }
}
.beautiful-taxonomy-filters-button::after{
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 0%;
  background-color: #9C0927;
  transition: min-height 0.3s ease;
  cursor: pointer;
  z-index: -1;
}
.beautiful-taxonomy-filters-button:hover::after{
  min-height: 100%;
}
.beautiful-taxonomy-filters-tax{
  margin: 0;
  margin-right: 2px;
  width: 100%;
}
.clearfix:before{
  display: none;
}
.beautiful-taxonomy-filters-select{
  margin: 0;
  width: 100%;
  height: 62px;
  color: #999;
}
.beautiful-taxonomy-filters-select-wrap{
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-columns: repeat(4, minmax(0, 1fr));
  row-gap: 20px;
  column-gap: 2px;
}
select option {
  position: relative;
  display: block;
  padding: 0 22px 0 22px;
  font-size: 18px;
  font-weight: 300;
  color: #3b3b3b;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.5s;
}
option:hover {
  cursor: pointer;
  background-color: #B2F1FF;
}

.left-col-map > div{
  height: 1171px!important;
}
@media only screen and (max-width: 480px) {
  .left-col-map > div{
    height: 450px!important;
  }
}

/* taxonomy filter YMC */
#ymc-smart-filter-container-2 > div.container-posts.container-post-layout1{
  display: none;
}
.ymc-smart-filter-container{
  max-width: 100%!important;
  /* padding-left: 20px!important;
  padding-right: 20px!important; */
}
.btn-all{
  display: none!important;
}
.filter-custom-layout-148-2 {
  background-color: #ebeef2!important;
}
.ymc-smart-filter-container .filter-layout3 div{
  margin: 0!important;
}
@media only screen and (min-width: 640px) {
  .ymc-smart-filter-container .filter-layout3 div.dropdown-filter:nth-child(1),
  .ymc-smart-filter-container .filter-layout3 div.dropdown-filter:nth-child(2),
  .ymc-smart-filter-container .filter-layout3 div.dropdown-filter:nth-child(3),
  .ymc-smart-filter-container .filter-layout3 div.dropdown-filter:nth-child(4),
  .ymc-smart-filter-container .filter-layout3 div.dropdown-filter:nth-child(5),
  .ymc-smart-filter-container .filter-layout3 div:nth-child(6),
  .ymc-smart-filter-container .filter-layout3 div:nth-child(7) {
    z-index: 3;
  }
}

@media only screen and (max-width: 640px) {
  .ymc-smart-filter-container .filter-layout3 div.dropdown-filter:nth-child(1),
  .ymc-smart-filter-container .filter-layout3 div.dropdown-filter:nth-child(2),
  .ymc-smart-filter-container .filter-layout3 div.dropdown-filter:nth-child(3),
  .ymc-smart-filter-container .filter-layout3 div.dropdown-filter:nth-child(4),
  .ymc-smart-filter-container .filter-layout3 div.dropdown-filter:nth-child(5),
  .ymc-smart-filter-container .filter-layout3 div:nth-child(6),
  .ymc-smart-filter-container .filter-layout3 div:nth-child(7) {
    /* z-index: 0 */
  }
}
.ymc-smart-filter-container .filter-layout3 div.dropdown-filter:nth-child(6){
  /* grid-column: 1 / span 2;
  grid-row: 4 / span 1; */
  display: flex!important;
}
@media only screen and (max-width: 640px) {
  .ymc-smart-filter-container .filter-layout3 div:nth-child(6){
    /* grid-column: 1 / span 2;
    grid-row: 4 / span 1; */
    display: none!important;
  }
}

.ymc-smart-filter-container .filter-layout3 div:nth-child(7) {
  grid-column: 1 / span 3;
  grid-row: 5 / span 1;
}
@media only screen and (max-width: 640px) {
  .ymc-smart-filter-container .filter-layout3 div:nth-child(14) {
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
  }
}

.ymc-smart-filter-container .filter-layout3 div:nth-child(9),
.ymc-smart-filter-container .filter-layout3 div:nth-child(10),
.ymc-smart-filter-container .filter-layout3 div:nth-child(11),
.ymc-smart-filter-container .filter-layout3 div:nth-child(12),
.ymc-smart-filter-container .filter-layout3 div:nth-child(13),
.ymc-smart-filter-container .filter-layout3 div:nth-child(14){
  opacity:0;
  transition: opacity 0.3s ease;
}
@media only screen and (max-width: 1024px) {
  .ymc-smart-filter-container .filter-layout3 div:nth-child(9),
  .ymc-smart-filter-container .filter-layout3 div:nth-child(10),
  .ymc-smart-filter-container .filter-layout3 div:nth-child(11),
  .ymc-smart-filter-container .filter-layout3 div:nth-child(12),
  .ymc-smart-filter-container .filter-layout3 div:nth-child(13),
  .ymc-smart-filter-container .filter-layout3 div:nth-child(14){
    opacity:1;
    transition: opacity 0.3s ease;
  }
}

@media only screen and (min-width: 1024px) {
  .ymc-smart-filter-container .filter-layout3 div:nth-child(6){
    grid-column: auto;
    grid-row: auto;
  }
  .ymc-smart-filter-container .filter-layout3 div:nth-child(7) {
    grid-column: auto;
    grid-row: auto;
  }
  .ymc-smart-filter-container .filter-layout3 div.dropdown-filter:nth-child(9) {
    grid-column: 1 / 3;
    z-index: 0;
  }
  .ymc-smart-filter-container .filter-layout3 div.dropdown-filter:nth-child(10){
    grid-column: 3 / 5;
    z-index: 0;
  }
  .ymc-smart-filter-container .filter-layout3 div.dropdown-filter:nth-child(12){
    grid-column: 5 / 6;
    z-index: 0;
  }
  .ymc-smart-filter-container .filter-layout3 div.dropdown-filter:nth-child(13){
    grid-column: 6 / 7;
    z-index: 0;
  }
  .ymc-smart-filter-container .filter-layout3 div.dropdown-filter:nth-child(14){
    grid-column: 7 / 8;
    z-index: 0;
  }
  .ymc-smart-filter-container .filter-layout3 div.dropdown-filter:nth-child(12) {
    margin-right: 0!important;
  }
  .ymc-smart-filter-container .filter-layout3 div.dropdown-filter:nth-child(13) {
    border-right: 2px solid #ebeef2;
  }
  .ymc-smart-filter-container .filter-layout3 div.dropdown-filter:nth-child(14) {
    border-right: 2px solid white;
  }
}
#filter-layout3-filter-layout3 > .filter-entry.active-search-more {
  height: auto!important;
}
@media only screen and (min-width: 1024px) {
  #filter-layout3-filter-layout3 > .filter-entry {
    height: 120px;
    transition: height 0.3s ease-out;
    row-gap: 2px;
    z-index: 3;
    position: relative;
  }
}
.ymc-smart-filter-container .filter-layout3 .filter-entry {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
}
@media only screen and (min-width: 1024px) {
  .ymc-smart-filter-container .filter-layout3 .filter-entry {
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}
.ymc-smart-filter-container .filter-layout3 .dropdown-filter {
  max-width: 100%!important;
}
.filter-layout3-148 > .filter-entry{
  height: 300px;
  margin-bottom: 40px;
  transition: height 0.3s ease-out;

  /* max-width: 1170px; */
  /* margin-left: auto;
  margin-right: auto; */
}
.filter-layout3-148{
  padding-top: 10px;
}
.ymc-smart-filter-container .filter-layout3 .posts-found{
  margin-bottom: 0;
}
.custom-posts-found{
  top: 160px;
}
@media only screen and (max-width: 1024px) {
  .custom-posts-found{
    top: 630px;
  }
}
.ymc-smart-filter-container .filter-layout3 .posts-found:empty {
  display: block!important;
}
.dropdown-filter{
  margin: 0;
  width: 100%;
  height: 120px;
  color: #2E384D!important;
  align-items: flex-start!important;
  /* max-width: 167px!important; */
  align-self: flex-start;
  border-right: 2px solid#ebeef2;
  border-bottom: 2px solid#ebeef2;
  /* z-index: 1; */
}
@media only screen and (max-width: 1024px) {
  .dropdown-filter{
    margin: 0;
    width: 100%;
    /* height: auto; */
    color: #2E384D!important;
    align-items: flex-start!important;
    /* max-width: 167px!important; */
    align-self: flex-start;
    border-right: 2px solid#ebeef2;
    border-bottom: 2px solid#ebeef2;
  }
}

.dropdown-filter.customPrice{
  height: 120px;
  align-self: flex-start!important;
}
.dropdown-filter > .menu-active{
  border: none!important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px!important;
}
.menu-passive{
  background-color: white!important;
  color: #2E384D!important;
  font-size: 18px!important;
  padding: 0!important;
  z-index: 4!important;
  display: block;
  /* max-height: 180px; */
  max-height: 300px;
  overflow-y: scroll;
  box-shadow: 0 10px 40px 0 rgba(0,0,0,.1);
}
.menu-link{
  color: #2E384D!important;
  font-size: 18px!important;
  width: 100%;
  height: 100%;
  padding-left: 20px!important;
}
.ymc-smart-filter-container .filter-layout3 .dropdown-filter .menu-active .arrow {
border-color: #8a8f99!important;
border-width: 0 2px 2px 0;
}
.ymc-smart-filter-container .filter-layout3 .dropdown-filter{
  border-radius: 0!important;
  margin-bottom: 0!important;  
}
.btn-more.dropdown-filter{
  margin-top: 2px;
}

/* .menu-link::before,
.menu-link::after, */
.arrow::before,
.arrow::after,
.menu-passive::before{
  content: none!important;
}
.menu-link::before{
  content: none!important;
}
.menu-link::after{
  border-left: 3px solid #E80D38!important;
  border-bottom: 3px solid #E80D38!important;
}
.count{
  display: none!important;
}
.menu-passive__item:hover{
  background-color: #B2F1FF;
  /* cursor: pointer; */
}
.ymc-smart-filter-container .filter-layout3 .dropdown-filter .menu-passive {
  top: 100px!important;
}
.menu-passive__item .active{
  padding: 0px!important;
  padding-left: 25px!important;
}
.post-entry.post-custom-layout{
  display: block!important;
  width: 100%!important;
}
@media only screen and (max-width: 640px) {
  .post-entry.post-custom-layout{
    display: block!important;
    width: 1084px!important;
  }
}
.posts-found{
  z-index: 1;
  position: relative;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebeef2;
}

/* sorting arrow */
.sort-arrow::after{
  content: '\25b2';
  color: inherit;
  position: absolute;
  right: 20px;
  font-size: 8px;
  height: 12px;
  top: 0;
  margin: auto;
  bottom: 0;
}
.sort-arrow-up::after{
  color: #e80d38;
  transform: rotate(0);
}
.sort-arrow-down::after{
  color: #e80d38;
  transform: rotate(180deg);
}
.post-entry.post-custom-layout > article{
  display: flex;
  gap: 20px;
}
.post-entry.post-custom-layout > article:hover{
background-color: #e8fbff!important;
}
.list-item-mieszkanie a,
.list-item-mieszkanie{
  font-size: 16px!important;
  color: #2E384D!important;
  text-decoration: none!important;
}
.list-item-mieszkanie img{
  width: 26px!important;
  height: 17px!important;
}
.container-posts {
  overflow-x: scroll;
}
.ymc-smart-filter-container .container-posts .post-custom-layout .post-item {
  padding: 0 20px!important;
  border: none;
  border-bottom: 1px solid #b5b5b5;
  width: 100%;
}
.arrow-red{
  opacity: 0!important;
}
.list-item-mieszkanie:hover .arrow-red{
  opacity:1!important;
}
.mieszkania-list-taxonomies:hover .arrow-red{
  opacity:1!important;
}
.entry-content{
  position: relative;
}
.cpt-file-icon{
  display: none!important;
}
.post-edit-link{
  display: none!important;
}
.single-mieszkania .entry-content a{
  position: absolute!important;
  top: 310px;
  right: -270px;

  background-color: #f5f7fa;
  color: inherit;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  height: 55px;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  z-index: 1;
}
@media only screen and (max-width: 480px) {
  .single-mieszkania .entry-content a{
    position: absolute!important;
    top: auto;
    right: auto;
    bottom: -230px;
    left: 0px;
  
    background-color: #f5f7fa;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 55px;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    z-index: 1;
  }
}


.single-mieszkania .entry-content a::before{
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 0%;
  background-color: #e9ecf2;
  transition: min-height 0.3s ease;
  z-index: -1;
}
.single-mieszkania .entry-content a:hover::before{
  min-height: 100%;
}
.single-mieszkania .entry-content a::before{
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 0%;
}
.single .entry-content p {
  /* color: #565656!important; */
  color: #8a8f99!important;
}
.single .entry-content > .modula > a{
  position: static!important;
}
.single .entry-content h4{
  margin-bottom: 30px;
}
.single-inwest-zrealizowane{
  color:#2E384D;
  text-decoration: none;
}

/* swiper test */
/* .swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.mySwiper2 {
  height: 600px;
  width: 100%;
}
.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
} */
/* .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
} */

/* page blog */
.page-blog-test .wp-block-categories-list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.page-blog-test .wp-block-categories-list li{
  color: #8a8f99;
}
.page-blog-test .wp-block-categories-list li:hover{
  color: #2E384D;
  text-decoration: underline 2px;
  text-underline-offset: 4px;
  text-decoration-color: #e80d38;
  cursor: pointer;
}
.current-cat{
  color: #2E384D!important;
  text-decoration: underline 2px;
  text-underline-offset: 4px;
  text-decoration-color: #e80d38;
}



/* swiper fullscreen */
.swiper-container {
  width: 100%;
  height: 330px;
  margin-left: auto;
  margin-right: auto;
  z-index: 3!important;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide {
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 300px;
  transition: transform .5s;
}
.swiper-slide-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 30px 50px 0 rgba(31,36,67,.3);
  z-index: 1;
}
.fullscreen .swiper-slide-hover{
  transform: scale(1)!important;
}

.fullscreen .swiper-slide img {
  object-fit: scale-down!important;
}
.gallery-top {
  position: relative;
  height: 100%;
  width: 100%;
}
.close-button {
  display: none;
  height: 45px;
  width: 45px;
  color: #fff;
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 32px;
  text-align: center;
  cursor: pointer;
  z-index: 9999;
  opacity: .75;
}
.close-button:before {
  content: '×';
}
.close-button:hover,
.close-button:active {
  opacity: 1;
}
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #161418e4;
  z-index: 1;
}
.fullscreen .gallery-top .swiper-slide {
  cursor: default;
  background-size: contain;
}
.fullscreen .close-button {
  display: block;
}
.fullscreen .gallery-top {
  height: 100%
}
.fullscreen .gallery-thumbs {
  background-color: #000;
  height: 20%;
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity .3s ease-in-out;
  transition-delay: .5s;
}
.fullscreen .gallery-thumbs:hover {
  opacity: 1;
  transition-delay: 0s;
}
.swiper-button-next:after {
  content: '';
}
.swiper-button-prev:after {
  content: '';
}
.swiper-button-next,
.swiper-button-prev {
  font-family: none;
  color: rgba(255,255,255,.8);
  width: 50px;
  height: 50px;
  background: rgba(0,0,0,.5);
  border-radius: 50%;
  z-index: 1;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}


/* #filter-layout3-1 > div.filter-entry > div:nth-child(5){
  display: none;
} */
/* dropdown test */
.dropdown {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.dropdown__value {
  color: #2E384D;
  background: white;
  box-sizing: border-box;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
}
.dropdown__value > span:after,
.dropdown__link:after{
  content: ' zł'!important;
}
.dropdown__value-metraz > span:after,
.dropdown__list-metraz >li > span:after{
  content: ' m²'!important;
}
.dropdown__value:after {
  content: '\25bc';
  margin-left: 5px;
  font-size: 11px;
}
.dropdown__list {
  display: none;
  position: absolute;
  top: 105px;
  list-style-type: none;
  width: 100%;
  height: 172px;
  z-index: 4!important;
  background-color: #fff;
  overflow-y: scroll;;
  box-shadow: 0 10px 40px 0 rgba(0,0,0,.1);
}
.dropdown__item {
  width: 100%;
  padding: 8px 0px;
}
.dropdown__item:hover {
  background-color: #B2F1FF;
}
.dropdown__link {
  background-color: transparent;
  padding-left: 20px;
}
.dropdown__link:hover {
  background-color: #B2F1FF;
  border: none!important;
}
.dropdown__link::after {
  border: none!important;
}
.dropdown__list_active,
.dropdown__list_active-metraz {
  display: block;
}
.dropdown-filter-title{
  color: gray;
  padding: 20px 15px;
}
@media only screen and (max-width: 1024px) {
  .dropdown-filter-title{
    color: gray;
    padding: 10px 15px;
  }
}
.search_tabs{
  width: 100%;
  height: 70px;
  background-color: #ebeef2;
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
}
.arrow-down:after {
  content: '\25bc';
  font-size: 11px;
}
.tab_mieszkania{
  height: 100%;
  width: 125px;
  color: #8a8f99;
  border-bottom: #ebeef2 3px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tab_mieszkania:hover{
  border-bottom: #b22944 3px solid;
}
.tab_mieszkania.active{
  color:#2E384D;
  border-bottom: #b22944 3px solid;
}

.preloader{
  max-width: 1170px!important;
  margin-left: auto;
  margin-right: auto;
}

/* YMC Flter Frontpage */
.filter-custom-layout-1850-2 {
  background-color: #ebeef2
}
.home .ymc-smart-filter-container {
  min-height: 120px;
}
.home #ymc-smart-filter-container-2 > div.container-posts.container-post-custom-layout{
  display: none;
}
#ymc-smart-filter-container-3 > div.container-posts.container-post-custom-layout{
  display: none;
}

