body{
    background-color: #F2F2F2;
    color: black;
    overflow-x: hidden;
}
a:link{
    text-decoration: none;
}
figure div{
    height: 100%!important;
    width: 100%;
    object-fit: cover;
}
.menu-passive{
    display: none;
}
.editor-styles-wrapper #filter-layout3-filter-layout3 > .filter-entry {
    height: 240px!important;
}
.ymc-smart-filter-container .filter-layout3 div:nth-child(9),
.ymc-smart-filter-container .filter-layout3 div:nth-child(10),
.ymc-smart-filter-container .filter-layout3 div:nth-child(11),
.ymc-smart-filter-container .filter-layout3 div:nth-child(12),
.ymc-smart-filter-container .filter-layout3 div:nth-child(13),
.ymc-smart-filter-container .filter-layout3 div:nth-child(14){
  opacity:1!important;
  transition: opacity 0.3s ease;
}