body{
    background-color: #F2F2F2;
    color: black;
    overflow-x: hidden;
}
a:link{
    text-decoration: none;
}
figure div{
    height: 100%!important;
    width: 100%;
    object-fit: cover;
}
.menu-passive{
    display: none;
}
.editor-styles-wrapper #filter-layout3-filter-layout3>.filter-entry {
    height: 240px;
}