<!-- wp:group -->
<div id="PB Górski theme" class="wp-block-group overflow-x-hidden">
	<!-- wp:list -->
	<ul>
		<!-- wp:list-item -->
		<li>
			<script>
				AOS.init({
					offset: 40,
					duration: 600,
					once: true
				});
			</script>
		</li>
		<!-- /wp:list-item -->
	</ul>
	<!-- /wp:list -->

	<!-- wp:template-part {"slug":"front-page/header"} /-->

	<!-- wp:group -->
	<div id="main" class="wp-block-group ">
		<!-- wp:group -->
		<div id="Page content" class="wp-block-group page-content-wrapper" >
			<!-- wp:pattern {"slug":"lista-mieszkan-banner"} /-->
			<!-- wp:pattern {"slug":"archive-mieszkania"} /-->

			<!-- wp:group -->
			<div class="wp-block-group list-content-wrapper container mx-auto py-[60px]">
				<!-- wp:pattern {"slug":"post-count"} /-->
				
				<!-- wp:list -->
				<ul class="wp-block-list all-taxonomy-list px-[20px] bg-[#2f384d] py-[20px] flex flex-wrap items-center justify-between text-[13px] font-bold">
					<!-- wp:list-item -->
					<li class="js-sort js-sort-miasto w-[100px] uppercase text-[#8a8f99] cursor-pointer relative sort-arrow">miasto</li>
					<!-- /wp:list-item -->
					<!-- wp:list-item -->
					<li class="js-sort js-sort-inwestycja w-[180px] uppercase text-[#8a8f99] cursor-pointer sort-arrow">inwestycja</li>
					<!-- /wp:list-item -->
					<!-- wp:list-item -->
					<li class="js-sort js-sort-budynek w-[100px] uppercase text-[#8a8f99] cursor-pointer sort-arrow">budynek</li>
					<!-- /wp:list-item -->
					<!-- wp:list-item -->
					<li class="js-sort js-sort-nr w-[65px] uppercase text-[#8a8f99] cursor-pointer sort-arrow">nr</li>
					<!-- /wp:list-item -->
					<!-- wp:list-item -->
					<li class="js-sort js-sort-pokoje w-[100px] uppercase text-[#8a8f99] cursor-pointer sort-arrow">pokoje</li>
					<!-- /wp:list-item -->
					<!-- wp:list-item -->
					<li class="js-sort js-sort-metraz w-[110px] uppercase text-[#8a8f99] cursor-pointer sort-arrow">metraz</li>
					<!-- /wp:list-item -->
					<!-- wp:list-item -->
					<li class="js-sort js-sort-pietro w-[100px] uppercase text-[#8a8f99] cursor-pointer sort-arrow">pietro</li>
					<!-- /wp:list-item -->
					<!-- wp:list-item -->
					<li class="js-sort js-sort-cena w-[130px] uppercase text-[#8a8f99] cursor-pointer relative sort-arrow">cena</li>
					<!-- /wp:list-item -->
					<!-- wp:list-item -->
					<li class="js-sort js-sort-termin w-[175px] uppercase text-[#8a8f99] cursor-pointer sort-arrow">termin</li>
					<!-- /wp:list-item -->
				</ul>
				<!-- /wp:list -->

				<!-- wp:query -->
				<div class="wp-block-query">
					<!-- wp:post-template -->
					<!-- wp:list -->
					<ul class="wp-block-list taxonomies px-[20px] flex flex-wrap justify-between items-center text-[18px] font-medium">
						<!-- wp:list-item -->
						<li class="w-[100px] py-[20px]"><!-- wp:post-terms {"term":"miasto"} /--></li>
						<!-- /wp:list-item -->
						<!-- wp:list-item -->
						<li class="w-[180px] py-[20px]"><!-- wp:post-terms {"term":"osiedla"} /--></li>
						<!-- /wp:list-item -->
						<!-- wp:list-item -->
						<li class="w-[100px] py-[20px]"><!-- wp:post-terms {"term":"budynek"} /--></li>
						<!-- /wp:list-item -->
						<!-- wp:list-item -->
						<li class="w-[65px] py-[20px]"><!-- wp:post-terms {"term":"nr"} /--></li>
						<!-- /wp:list-item -->
						<!-- wp:list-item -->
						<li class="w-[100px] py-[20px]"><!-- wp:post-terms {"term":"pokoje"} /--></li>
						<!-- /wp:list-item -->
						<!-- wp:list-item -->
						<li class="w-[110px] py-[20px] flex gap-[4px]"><!-- wp:post-terms {"term":"metraz"} /-->
						<!-- wp:paragraph -->
						<p>m<sup>2</sup></p>
						<!-- /wp:paragraph -->
						</li>
						<!-- /wp:list-item -->
						<!-- wp:list-item -->
						<li class="w-[100px] py-[20px]"><!-- wp:post-terms {"term":"pietro"} /--></li>
						<!-- /wp:list-item -->
						<!-- wp:list-item -->
						<li class="w-[130px] py-[20px] flex gap-[4px]"><!-- wp:post-terms {"term":"cena"} /--> zł</li>
						<!-- /wp:list-item -->
						<!-- wp:list-item -->
						<li class="w-[175px] py-[20px]"><!-- wp:post-terms {"term":"termin"} /--></li>
						<!-- /wp:list-item -->
					</ul>
					<!-- /wp:list -->
					<!-- /wp:post-template -->
				</div>
				<!-- /wp:query -->
			</div>
			<!-- /wp:group -->
			
			<!-- wp:template-part {"slug":"front-page/cta"} /-->
			<!-- wp:template-part {"slug":"front-page/newsletter"} /-->
			<!-- wp:template-part {"slug":"front-page/footer"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->
