<!-- wp:group -->
<div id="PB Górski theme" class="wp-block-group overflow-x-hidden">
	<!-- wp:list -->
	<ul class="hidden aos-init">
		<!-- wp:list-item -->
		<li>
			test
		</li>
		<!-- /wp:list-item -->
	</ul>
	<!-- /wp:list -->

	<!-- wp:template-part {"slug":"front-page/header"} /-->

	<!-- wp:group -->
	<div id="main" class="wp-block-group ">
		<!-- wp:group -->
		<div id="Page content" class="wp-block-group page-content-wrapper" >
			<!-- wp:pattern {"slug":"lista-mieszkan-banner"} /-->
			<!-- wp:pattern {"slug":"archive-mieszkania"} /-->
			
			<!-- wp:paragraph -->
			<p>test</p>
			<!-- /wp:paragraph -->

			<!-- wp:query-title {"type":"archive"} /-->
			<!-- wp:term-description /-->
			<!-- wp:query -->
			<div class="wp-block-query">
			<!-- wp:post-template -->
			<!-- wp:post-title {"isLink":true} /-->
			<!-- wp:post-terms {"term":"miasto"} /-->
			<!-- wp:post-terms {"term":"nr"} /-->
			<!-- /wp:post-template -->
			<!-- wp:query-pagination -->
			<div class="wp-block-query-pagination">
			<!-- wp:query-pagination-previous /-->
			<!-- wp:query-pagination-next /-->
			</div>
			<!-- /wp:query-pagination -->
			</div>
			<!-- /wp:query -->
			
			<!-- wp:template-part {"slug":"front-page/cta"} /-->
			<!-- wp:template-part {"slug":"front-page/newsletter"} /-->
			<!-- wp:template-part {"slug":"front-page/footer"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->
