<!-- wp:group -->
<div id="PB Górski theme" class="wp-block-group">
	<!-- wp:list -->
	<ul class="hidden">
		<!-- wp:list-item -->
		<li>
			<script>
				AOS.init();
			</script>
		</li>
		<!-- /wp:list-item -->
	</ul>
	<!-- /wp:list -->

	<!-- wp:template-part {"slug":"front-page/header"} /-->

	<!-- wp:group -->
	<div id="main" class="wp-block-group ">
		<!-- wp:group -->
		<div id="Page content" class="wp-block-group page-content-wrapper desktop:pt-[100px] w-screen" >
      <!-- wp:pattern {"slug":"banner-main"} /-->
      <!-- wp:pattern {"slug":"search-bar"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->
