<!-- wp:group -->
<div id="PB Górski theme" class="wp-block-group overflow-x-hidden">
  <!-- wp:template-part {"slug":"header"} /-->

  <!-- wp:group -->
  <div id="main" class="wp-block-group">
    <!-- wp:group -->
    <div id="Page content" class="wp-block-group page-content-wrapper">
      <!-- wp:pattern {"slug":"banner-main"} /-->
      <!-- wp:pattern {"slug":"searchbar-mieszkania"} /-->
      <!-- wp:pattern {"slug":"inwestycje"} /-->

      <!-- wp:group -->
      <div class="wp-block-group query_container aos-fade-right">
        <!-- wp:query {"query":{"perPage":0,"pages":0,"offset":0,"postType":"mieszkania"},"isLink":true} -->
        !-- wp:group -->
        <div class="wp-block-group query_container aos-fade-right flex gap-[30px]">
          <!-- wp:post-template -->
            <!-- wp:group {"isLink":true  } -->
            <div class="wp-block-group aos-fade-right">
              <!-- wp:group -->
              <div class="wp-block-group">
                <!-- wp:group -->
                <div class="wp-block-group">
                  <!-- wp:post-terms {"term":"inwestycja"} /-->
                  <!-- wp:term-description /-->
                  <!-- wp:term-count /-->
                  <!-- wp:post-title {"level":6} /-->
                </div>
                <!-- /wp:group -->
                <!-- wp:post-terms {"term":"cena"} /-->
              </div>
              <!-- /wp:group -->
            </div>
            <!-- /wp:group -->
          <!-- /wp:post-template -->
        </div>
        <!-- /wp:group -->
			  <!-- /wp:query -->
      </div>
      <!-- /wp:group -->

      <!-- wp:pattern {"slug":"blog"} /-->
      <!-- wp:template-part {"slug":"cta"} /-->
      <!-- wp:template-part {"slug":"newsletter"} /-->
      <!-- wp:template-part {"slug":"footer"} /-->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->
