<!-- wp:group -->
<div id="PB Górski theme" class="wp-block-group overflow-x-hidden">

	<!-- wp:template-part {"slug":"front-page/header-white"} /-->

	<!-- wp:group -->
	<div id="main" class="wp-block-group ">
		<!-- wp:group -->
		<div id="Page content" class="wp-block-group page-content-wrapper">
			<!-- wp:group -->
			<div class="test_inwestycja_tax_on_page">
				<!-- wp:paragraph -->
				<p>Inwestycja: </p>
				<!-- /wp:paragraph -->
				<!-- wp:terms /-->
				<!-- wp:term /-->
				<!-- wp:terms {"inwestycja"} /-->
				<!-- wp:term {"inwestycja"} /-->
			</div>
			<!-- /wp:group -->
			<!-- wp:post-content /-->
			<!-- wp:template-part {"slug":"front-page/cta"} /-->
			<!-- wp:template-part {"slug":"front-page/newsletter"} /-->
			<!-- wp:template-part {"slug":"front-page/footer"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->
