<!-- wp:group -->
<div id="PB Górski theme" class="wp-block-group overflow-x-hidden">
	<!-- wp:template-part {"slug":"front-page/header-white"} /-->

	<!-- wp:group -->
	<div id="main" class="wp-block-group ">
		<!-- wp:group -->
		<div id="Page content" class="wp-block-group page-content-wrapper" >
      <!-- wp:pattern {"slug":"lista-miejsca-postojowe-banner"} /-->

			<!-- wp:group -->
			<div class="wp-block-group container mx-auto desktop:px-0 px-[20px] py-[80px]">
			<!-- wp:post-content /-->

			<!-- wp:query {"query":{"perPage":0,"pages":0,"offset":0,"postType":"miejsca-postojowe"},"isLink":true} -->
				<!-- wp:post-template -->
					<!-- wp:group {"isLink":false} -->
					<div class="wp-block-group aos-fade-right post-template">
						<!-- wp:post-title {"isLink":true, "level":3} /-->
						<!-- wp:post-terms {"term":"inwestycja"} /-->
					</div>
					<!-- /wp:group -->
				<!-- /wp:post-template -->
			<!-- /wp:query -->
			</div>
			<!-- /wp:group -->
			</div>
			<!-- /wp:group -->

			<!-- wp:template-part {"slug":"front-page/cta"} /-->
			<!-- wp:template-part {"slug":"front-page/newsletter"} /-->
			<!-- wp:template-part {"slug":"front-page/footer"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->
