<!-- wp:group -->
<div id="PB Górski theme" class="wp-block-group overflow-x-hidden">
	<!-- wp:list -->
	<ul>
		<!-- wp:list-item -->
		<li>
			<script>
				AOS.init({
					duration: 600,
					easing: 'ease',
					once: true
				});
			</script>
		</li>
		<!-- /wp:list-item -->
	</ul>
	<!-- /wp:list -->

	<!-- wp:template-part {"slug":"front-page/header"} /-->

	<!-- wp:group -->
	<div id="main" class="wp-block-group ">
		<!-- wp:group -->
		<div id="Page content" class="wp-block-group page-content-wrapper" >
      <!-- wp:pattern {"slug":"page-blog-posts"} /-->
		

			<!-- wp:query {"query":{"perPage":5,"pages":10,"offset":0,"postType":"post"}} -->
				<!-- wp:post-template -->
					<!-- wp:post-title /-->
				<!-- /wp:post-template -->

				<!-- wp:query-pagination -->
				<!-- wp:query-pagination-previous {"label":"Previous"} /-->
				<!-- wp:query-pagination-next {"label":"Next"} /-->
				<!-- /wp:query-pagination -->

			<!-- /wp:query -->

			<!-- wp:template-part {"slug":"front-page/cta"} /-->
			<!-- wp:template-part {"slug":"front-page/newsletter"} /-->
			<!-- wp:template-part {"slug":"front-page/footer"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->
