<!-- wp:group -->
<div id="PB Górski theme" class="wp-block-group overflow-x-hidden">
	<!-- wp:list -->
	<ul class="hidden aos-init">
		<!-- wp:list-item -->
		<li>
			test
		</li>
		<!-- /wp:list-item -->
	</ul>
	<!-- /wp:list -->

	<!-- wp:template-part {"slug":"front-page/header"} /-->

	<!-- wp:group -->
	<div id="main" class="wp-block-group ">
		<!-- wp:group -->
		<div id="Page content" class="wp-block-group page-content-wrapper" >
      <!-- wp:pattern {"slug":"contact-banner"} /-->
      <!-- wp:pattern {"slug":"contact-content"} /-->

			<!-- wp:group -->
			<div class="wp-block-group backgro contact-form-wrapper flex">
				<!-- wp:group -->
				<div class="wp-block-group left-col-map w-1/2">
					<!-- wp:wpmapblock/wp-map-block {"map_id":"wpmapblock_cbd28970","map_marker_list":[{"lat":"54.3841225","lng":"18.6071059","title":"PB Górski","content":"","iconType":"default","customIconUrl":"","customIconWidth":25,"customIconHeight":40}]} /-->
				</div>
				<!-- /wp:group -->

				<!-- wp:group -->
				<div class="wp-block-group left-col-form p-[90px_70px] w-1/2 bg-[#ebeef2]">
					<!-- wp:contact-form-7/contact-form-selector {"id":65,"hash":"3358ba5","title":"test"} -->
					<!-- wp:paragraph -->
					<p class="text-[30px] text-textGray mb-[30px] font-bold">Formularz kontaktowy</p>
					<!-- /wp:paragraph -->
					<div class="wp-block-contact-form-7-contact-form-selector">[contact-form-7 id="3358ba5" title="test"]</div>
					<!-- /wp:contact-form-7/contact-form-selector -->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:group -->



			
			<!-- wp:template-part {"slug":"front-page/cta"} /-->
			<!-- wp:template-part {"slug":"front-page/newsletter"} /-->
			<!-- wp:template-part {"slug":"front-page/footer"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->
